[submodule "vpi_user/repos/ghdl"]
	path = vpi_user/repos/ghdl
	url = https://github.com/ghdl/ghdl.git
[submodule "vpi_user/repos/verilator"]
	path = vpi_user/repos/verilator
	url = https://github.com/verilator/verilator.git
[submodule "vpi_user/repos/iverilog"]
	path = vpi_user/repos/iverilog
	url = https://github.com/steveicarus/iverilog.git
